@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e2e2e2;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.minha-classe {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #eef;
  padding: 2.2rem 2.4rem;
  border-radius: 4px;
}

.imc {
  background-color: rgb(27, 204, 95);
  padding: 15px;
  border-radius: 5;
  color: #fff;
  font-size: 18;
}
